/*RESET CSS*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family:'Roboto', sans-serif;
}

header {
    background-color: #f7f7f7;
    height: 80px;
}

main {
    height: 670px;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
}

.Menu {
    height: 70%;
    width: 30%;
    background-color: #A0B9D9;
    margin-top: 5%;
    border-radius: 2%;
    padding-top: 5%;
}

.Menu h1{
    color:#fff;
    font-size: 200%;
    margin-top: 2%;
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
}

.Menu button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 13%;
    width: 60%;
    margin:4% 12% 4% 19%;
    background-color: #CEDEF2;
    color:black;
    padding: 3%;
    font-size: 1em;
    border-radius: 2%;
}
/* CADASTRO */
#CADASTRO{
    margin-top: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #A0B9D9;
    max-width: 40%;
    margin: 2% auto;
    border-radius: 10px;
    padding: 3% 5%;
}
#CADASTRO form{
    width: 100%;
}

#CADASTRO form input{
    height: 50px;
    width: 80%;
    border-radius: 5px;
    border: none;
    margin: 10px 0;
    background-color: #f7f7f7;
    padding: 10px;
    font-size: 18px;
}
#CADASTRO form h1{
    color: #fff;
    font-size: 30px;
    display: flex;
    justify-content: center;
}

#CADASTRO form input::placeholder{
    color:#a4a4a4;
    font-weight: 400;
}
.botao{
    background-color: #CEDEF2;
    font-size: 16px;
    margin: 1% 1%;
    padding: 10px;
    cursor: pointer;
    width: 95%;
    border-radius: 5px;
}

.form_row{
    display: flex;
    width: 100%;
}
.form_col{
    display: flex;
    flex-direction: column;
    width: 300%;
    padding-left: 5%;
}

/* LOGIN  */
#Acesso {
    height: 700px ;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.LOGIN{
    height: 60%;
    width: 30%;
    background-color: #A0B9D9;
    margin-top: 5%;
    border-radius: 2%;
}
.LOGIN h1{
    color:#fff;
    font-size: 200%;
    margin-top: 7%;
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}

.LOGIN form input{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 13%;
    width: 60%;
    margin:4% 12% 2% 19%;
    background-color: #f7f7f7;
    color:black;
    padding: 3%;
    font-size: 1em;
    border-radius: 2%;
}

button{
    margin-top: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #A0B9D9;
    color:#fff;
    padding: 3%;
    font-size: 1em;
    border-radius: 2%;
}
.ajuda {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    font-size: 1em;
    margin-left: 43%;
}
/* LOGOOFF */
#logoff {
    height: 80%;
    width: 40%;
    background-color: #a0b9d9;
    margin: 10% auto;
    border-radius: 2%;
    padding: 5% 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.saida h3{
    display: flex;
    justify-content: center;
    padding: 1% 0 5%;
    font-size: 2em;
}

.saida p{
    display: flex;
    align-items: center;
    font-size: 150%;
    padding: 1% 0 15%;
}

@media screen and (max-width: 1128px) {

    .coluna {
        width:48%;
    }
}
@media screen and (max-width: 768px) {

    .coluna {
        width:100%;
        margin: 0;
    }
}